target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/java/org/project/ffmpegEssentials/doc/bootstrap.min.css
/src/main/java/org/project/ffmpegEssentials/doc/community.html
/src/main/java/org/project/ffmpegEssentials/doc/default.css
/src/main/java/org/project/ffmpegEssentials/doc/developer.html
/src/main/java/org/project/ffmpegEssentials/doc/faq.html
/src/main/java/org/project/ffmpegEssentials/doc/fate.html
/src/main/java/org/project/ffmpegEssentials/bin/ffmpeg.exe
/src/main/java/org/project/ffmpegEssentials/doc/ffmpeg.html
/src/main/java/org/project/ffmpegEssentials/doc/ffmpeg-all.html
/src/main/java/org/project/ffmpegEssentials/doc/ffmpeg-bitstream-filters.html
/src/main/java/org/project/ffmpegEssentials/doc/ffmpeg-codecs.html
/src/main/java/org/project/ffmpegEssentials/doc/ffmpeg-devices.html
/src/main/java/org/project/ffmpegEssentials/doc/ffmpeg-filters.html
/src/main/java/org/project/ffmpegEssentials/doc/ffmpeg-formats.html
/src/main/java/org/project/ffmpegEssentials/doc/ffmpeg-protocols.html
/src/main/java/org/project/ffmpegEssentials/doc/ffmpeg-resampler.html
/src/main/java/org/project/ffmpegEssentials/doc/ffmpeg-scaler.html
/src/main/java/org/project/ffmpegEssentials/doc/ffmpeg-utils.html
/src/main/java/org/project/ffmpegEssentials/bin/ffplay.exe
/src/main/java/org/project/ffmpegEssentials/doc/ffplay.html
/src/main/java/org/project/ffmpegEssentials/doc/ffplay-all.html
/src/main/java/org/project/ffmpegEssentials/bin/ffprobe.exe
/src/main/java/org/project/ffmpegEssentials/doc/ffprobe.html
/src/main/java/org/project/ffmpegEssentials/doc/ffprobe-all.html
/src/main/java/org/project/ffmpegEssentials/doc/general.html
/src/main/java/org/project/ffmpegEssentials/doc/git-howto.html
/src/main/java/org/project/ffmpegEssentials/doc/libavcodec.html
/src/main/java/org/project/ffmpegEssentials/doc/libavdevice.html
/src/main/java/org/project/ffmpegEssentials/doc/libavfilter.html
/src/main/java/org/project/ffmpegEssentials/doc/libavformat.html
/src/main/java/org/project/ffmpegEssentials/doc/libavutil.html
/src/main/java/org/project/ffmpegEssentials/doc/libswresample.html
/src/main/java/org/project/ffmpegEssentials/doc/libswscale.html
/src/main/java/org/project/ffmpegEssentials/presets/libvpx-360p.ffpreset
/src/main/java/org/project/ffmpegEssentials/presets/libvpx-720p.ffpreset
/src/main/java/org/project/ffmpegEssentials/presets/libvpx-720p50_60.ffpreset
/src/main/java/org/project/ffmpegEssentials/presets/libvpx-1080p.ffpreset
/src/main/java/org/project/ffmpegEssentials/presets/libvpx-1080p50_60.ffpreset
/src/main/java/org/project/ffmpegEssentials/LICENSE
/src/main/java/org/project/ffmpegEssentials/doc/mailing-list-faq.html
/src/main/java/org/project/ffmpegEssentials/doc/nut.html
/src/main/java/org/project/ffmpegEssentials/doc/platform.html
/src/main/java/org/project/ffmpegEssentials/README.txt
/src/main/java/org/project/ffmpegEssentials/doc/style.min.css
